/* =Forms
===================================================== */

/*
 * Radio + Checkbox
 */

.radio-container,
.checkbox-container {

  position: relative;

  display: block;
  padding: rem(4) 0 rem(6) rem(24);

  font-family: $font-brand-primary;
  @include font-size(16);
  line-height: 1.5;
  color: $color-text;

  cursor: pointer;

  &.is-inline {

    display: inline-block;
    margin-right: rem(8);

  }

}

// Checkbox
//
// Checkbox styles
//
// Markup:
// <label class="checkbox-container">
//   Checkbox Label
//   <input type="checkbox" checked>
// </label>
// <label class="checkbox-container">
//   Checkbox Label
//   <input type="checkbox">
// </label>
// <label class="checkbox-container">
//   Checkbox Label
//   <input type="checkbox">
// </label>
//
// Style guide: 6.forms.checkbox

.checkbox-container > input[type="checkbox"] {

  position: absolute;
  top: rem(10);
  left: 0;

}

// Radio
//
// Radio styles
//
// Markup:
// <label class="radio-container">
//   Radio Label
//   <input type="radio" name="group" checked>
// </label>
// <label class="radio-container">
//   Radio Label
//   <input type="radio" name="group">
// </label>
// <label class="radio-container">
//   Radio Label
//   <input type="radio" name="group">
// </label>
//
// Style guide: 6.forms.radio

.radio-container > input[type="radio"] {

  position: absolute;
  top: rem(10);
  left: 0;

}