/* =Nav: Tabs
===================================================== */

// Nav: Tabs
//
// Tabs navigation
//
// Markup: _nav-tabs.html
//
// Style guide: 6.nav-tabs

.nav-tabs {}

.nav-tabs__list {

  @include list-reset();
  @include clearfix();

  padding: $unit-xs;
  background-color: #f9f9f9;

	@include breakpoint(small) {

    padding: $unit-xs $unit-xs 0 $unit-xs;
    border-bottom: 1px solid $color-border-weak;

  }

}

.nav-tabs__item {

  display: block;

  margin: 0;

  font-family: $font-brand-primary;

  @include breakpoint(small) {

    float: left;

    margin-right: $unit-xs;
    border: 1px solid transparent;
    border-bottom: none;

  }

}

.nav-tabs__item--active {

  border-color: $color-border-weak;
  border-bottom-color: #fff;
  background-color: #fff;

  position: relative;

  &:before {

    content: "";

    position: absolute;
    bottom: -1px;
    left: 0;
    right: 0;

    height: 1px;

    background-color: #fff;

  }

  .nav-tabs__link {

    color: $color-text-strong;

    &:hover,
    &:focus,
    &:active {

      color: $color-text-strong;
      text-decoration: none;
      background-color: transparent;

    }

  }

}

.nav-tabs__link {

  display: block;

  padding: $unit-xs $unit-s;

  &:hover,
  &:focus,
  &:active {

    background-color: $color-grey-10;

  }

}