/* =Experimental
===================================================== */

body {

  // background-color: $color-brand-primary;

}

/* Feel free to delete everything here */

.block {}
.block__title {}
.block__content {}

.block__container {

  /* Positioning */
  position: relative;

  /* Box-model */
  max-width: $container-max-width();
  margin: 0 auto;
  @include container-padding(1);

  /* Misc */
  @include clearfix();

}

/*
 * Container
 *
 * Basic container code
 */

.container {}

/*
 * Section
 *
 * Global section
 */

.section {}

/*
 * Section Header
 *
 * Header section of the site
 */

.section--header {

  position: relative;
  z-index: $z-index-header;

}

/*
 * Section Main
 *
 * Main section of the site
 */

.section--main {

}

/*
 * Section Footer
 *
 * Footer section of the site
 */

.section--footer {

}