/* =Generic: Page
===================================================== */

body {

  font-family: $font-body;
  line-height: ms(2);
  background: #fff;

  @include font-feature-settings("liga");

  @include breakpoint(small) {

    font-size: 1.125em;

  }

  @include breakpoint(medium) {

    font-size: 1.25em;

  }

}

::selection {

  color: #fff;
  background-color: $color-brand-primary;

}