/* =Settings: Colors
===================================================== */

/* Fonts */
$font-brand-primary:              $helvetica;
$font-brand-secondary:            $georgia;

/* Font use case */
$font-body:                       $font-brand-primary;
$font-headline:                   $font-brand-secondary;

/* Font weights */
$hairline:                        100;
$thin:                            200;
$light:                           300;
$regular:                         400;
$medium:                          500;
$semibold:                        600;
$bold:                            700;
$black:                           900;