/* =Settings: Colors
===================================================== */

// Colors
//
// Color scheme grouped by context. When adding new colors, don't forget to add a CSS reference in `_objects.colors.scss`.
//
// Markup:
// <h3 class="color-card-title">Brand</h3>
// <div class="color-card-group">
// 	<div class="var-color-brand-primary"><span class="color-card"></span></div>
// 	<div class="var-color-brand-secondary"><span class="color-card"></span></div>
// 	<div class="var-color-brand-tertiary"><span class="color-card"></span></div>
// 	<div class="var-color-page-background"><span class="color-card"></span></div>
// </div>
// <h3 class="color-card-title">Typography</h3>
// <div class="color-card-group">
// 	<div class="var-color-text"><span class="color-card"></span></div>
// 	<div class="var-color-text-heading-1"><span class="color-card"></span></div>
// 	<div class="var-color-text-heading-2"><span class="color-card"></span></div>
// 	<div class="var-color-text-heading-3"><span class="color-card"></span></div>
// 	<div class="var-color-text-heading-4"><span class="color-card"></span></div>
// 	<div class="var-color-text-paragraph"><span class="color-card"></span></div>
// 	<div class="var-color-text-weak"><span class="color-card"></span></div>
// 	<div class="var-color-text-strong"><span class="color-card"></span></div>
// 	<div class="var-color-text-invert"><span class="color-card"></span></div>
// 	<div class="var-color-text-weak-invert"><span class="color-card"></span></div>
// 	<div class="var-color-text-strong-invert"><span class="color-card"></span></div>
// 	<div class="var-color-text-link"><span class="color-card"></span></div>
// 	<div class="var-color-text-link-hover"><span class="color-card"></span></div>
// 	<div class="var-color-text-link-visited"><span class="color-card"></span></div>
// </div>
// <h3 class="color-card-title">Shades of grey</h3>
// <div class="color-card-group">
// 	<div class="var-color-grey-01"><span class="color-card"></span></div>
// 	<div class="var-color-grey-02"><span class="color-card"></span></div>
// 	<div class="var-color-grey-03"><span class="color-card"></span></div>
// 	<div class="var-color-grey-04"><span class="color-card"></span></div>
// 	<div class="var-color-grey-05"><span class="color-card"></span></div>
// 	<div class="var-color-grey-06"><span class="color-card"></span></div>
// 	<div class="var-color-grey-07"><span class="color-card"></span></div>
// 	<div class="var-color-grey-08"><span class="color-card"></span></div>
// 	<div class="var-color-grey-09"><span class="color-card"></span></div>
// 	<div class="var-color-grey-10"><span class="color-card"></span></div>
// </div>
// <h3 class="color-card-title">Messages</h3>
// <div class="color-card-group">
// 	<div class="var-color-message-default"><span class="color-card"></span></div>
// 	<div class="var-color-message-success"><span class="color-card"></span></div>
// 	<div class="var-color-message-warning"><span class="color-card"></span></div>
// 	<div class="var-color-message-danger"><span class="color-card"></span></div>
// </div>
// <h3 class="color-card-title">Forms</h3>
// <div class="color-card-group">
// 	<div class="var-color-input-regular"><span class="color-card"></span></div>
// 	<div class="var-color-input-focus"><span class="color-card"></span></div>
// 	<div class="var-color-input-success"><span class="color-card"></span></div>
// 	<div class="var-color-input-error"><span class="color-card"></span></div>
// 	<div class="var-color-input-required"><span class="color-card"></span></div>
// 	<div class="var-color-input-checkbox"><span class="color-card"></span></div>
// 	<div class="var-color-input-checkbox-active"><span class="color-card"></span></div>
// 	<div class="var-color-input-radio"><span class="color-card"></span></div>
// 	<div class="var-color-input-radio-active"><span class="color-card"></span></div>
// </div>
// <h3 class="color-card-title">Buttons</h3>
// <div class="color-card-group">
// 	<div class="var-color-button-regular"><span class="color-card"></span></div>
// 	<div class="var-color-button-regular-hover"><span class="color-card"></span></div>
// 	<div class="var-color-button-primary"><span class="color-card"></span></div>
// 	<div class="var-color-button-primary-hover"><span class="color-card"></span></div>
// 	<div class="var-color-button-secondary"><span class="color-card"></span></div>
// 	<div class="var-color-button-secondary-hover"><span class="color-card"></span></div>
// 	<div class="var-color-button-invert"><span class="color-card"></span></div>
// 	<div class="var-color-button-invert-hover"><span class="color-card"></span></div>
// 	<div class="var-color-button-inactive"><span class="color-card"></span></div>
// </div>
//
// Style guide: 1.colors

/* Local */
$local-blue:                      blue;
$local-red:                       red;

/* Brand */
$color-brand-primary:             #0065bc;
$color-brand-secondary:           #ffda00;
$color-brand-tertiary:            #768592;

/* Visuals */
$color-page-background:           #f3f3f3;

/* Typography colors */
$color-text:                      #555;
$color-text-heading-1:            #222;
$color-text-heading-2:            #222;
$color-text-heading-3:            #222;
$color-text-heading-4:            #222;
$color-text-paragraph:            #444;
$color-text-weak:                 #999;
$color-text-strong:               #222;
$color-text-invert:               rgba(255,255,255,.7);
$color-text-weak-invert:          rgba(255,255,255,.5);
$color-text-strong-invert:        rgba(255,255,255,1);
$color-text-link:                 $color-brand-primary;
$color-text-link-hover:           darken($color-brand-primary, 20%);
$color-text-link-visited:         lighten($color-brand-primary, 20%);

/* 10 shades of grey ;) */
$color-grey-01:                   rgba(0,0,0,.1); // Light
$color-grey-02:                   rgba(0,0,0,.2);
$color-grey-03:                   rgba(0,0,0,.3);
$color-grey-04:                   rgba(0,0,0,.4);
$color-grey-05:                   rgba(0,0,0,.5);
$color-grey-06:                   rgba(0,0,0,.6);
$color-grey-07:                   rgba(0,0,0,.7);
$color-grey-08:                   rgba(0,0,0,.8);
$color-grey-09:                   rgba(0,0,0,.9);
$color-grey-10:                   rgba(0,0,0,1);  // Dark

/* 10 shades of grey ;) */
$color-border-weak:               #e5e5e5;
$color-border-normal:             #d5d5d5;
$color-border-strong:             #c5c5c5;

/* Messages */
$color-message-default:           #eeeeee;
$color-message-success:           #00a664;
$color-message-warning:           #ffcb05;
$color-message-danger:            #f04e3e;

/* Forms */
$color-input-regular:             #ddd;
$color-input-focus:               #aaa;
$color-input-success:             #00a664;
$color-input-error:               #f04e3e;
$color-input-required:            #ba131a;
$color-input-checkbox:            #ddd;
$color-input-checkbox-active:     $color-brand-primary;
$color-input-radio:               #ddd;
$color-input-radio-active:        $color-brand-primary;

/* Buttons */
$color-button-regular:            #768592;
$color-button-regular-hover:      darken($color-button-regular, 20%);
$color-button-primary:            #0065bc;
$color-button-primary-hover:      darken($color-button-primary, 10%);
$color-button-secondary:          #ffda00;
$color-button-secondary-hover:    darken($color-button-secondary, 5%);
$color-button-invert:             mix($color-button-primary, #fff, 10%);
$color-button-invert-hover:       darken($color-button-invert, 10%);
$color-button-inactive:           #eeeeee;

/* Specific colors */
$color-explicit-red:              #ed1c24;
$color-explicit-green:            #00a651;
$color-explicit-blue:             #034ea2;