/* =Buttons
===================================================== */

// Buttons
//
// Button variations and usage examples.
//
// :hover - Hover state
// :focus - Focus state
// .button--primary   - Primary button example
// .button--primary:hover   - Primary button example
// .button--primary:focus   - Primary button example
// .button--secondary - Secondary button example
// .button--secondary:hover - Secondary button example
// .button--secondary:focus - Secondary button example
// .button--invert    - Invert button example
// .button--invert:hover    - Invert button example
// .button--invert:focus    - Invert button example
// .button--inactive  - Inactive button example
//
// Markup:
// <a class="button {{modifier_class}}" href="#">
//   <span class="button__label">Link Button</span>
// </a>
// <button class="{{modifier_class}}">
//   <span class="button__label">Form Button</label>
// </button>
// <input class="button {{modifier_class}}"  value="Form Button" type="submit"/>
//
// Style guide: elements.buttons

.button,
button {

  /* Positioning */
  position: relative;

  /* Box-model */
  display: inline-block;
  padding: rem(7) rem(16);
  border: 1px solid $color-button-regular;

  /* Typography */
  @include font-size(16);
  line-height: em(24,16);
  text-align: center;
  color: #fff;
  font-weight: $bold;

  /* Visual */
  background-color: $color-button-regular;
  border-radius: $border-radius-small;
  border-color: transparent;

  /* Misc */
  @include transition-fast();

  &:hover,
  &:focus,
  &:active {

    color: #fff;
    background-color: $color-button-regular-hover;

  }

}

.button--primary {

  color: $color-text-invert;
  background-color: $color-button-primary;

  &:hover,
  &:focus,
  &:active {

    color: $color-text-strong-invert;
    background-color: $color-button-primary-hover;

  }

}

.button--secondary {

  color: $color-text-strong;
  background-color: $color-button-secondary;

  &:hover,
  &:focus,
  &:active {

    color: rgba(0,0,0,.9);
    background-color: $color-button-secondary-hover;

  }

}

.button--invert {

  color: $color-button-primary;
  background-color: $color-button-invert;

  &:hover,
  &:focus,
  &:active {

    color: $color-button-primary-hover;
    background-color: $color-button-invert-hover;

  }

}

.button--inactive {

  color: rgba(0,0,0,.3);
  background-color: $color-button-inactive;

  &:hover,
  &:focus,
  &:active {

    color: rgba(0,0,0,.3);
    background-color: $color-button-inactive;

  }

}

// Button
.button {}
.button__label {}
.button__icon {}