/* =Layout
===================================================== */

/*
 * Global
 */

* {

  box-sizing: border-box;

}

/*
 * Body
 *
 * Body related styles
 */

body {

  font-family: $font-brand-primary;
  line-height: 1.5;
  background: #fff;

}