/* =Nav: List
===================================================== */

// Nav: List
//
// List navigation
//
// Markup: _nav-list.html
//
// Style guide: patterns.nav-list

.nav-list {}

.nav-list__list {

  @include list-reset();

}

.nav-list__item {

  margin: 0;
  border-bottom: 1px solid $color-grey-01;

  &:first-child {

    border-top: 1px solid $color-grey-01;

  }

}

.nav-list__item--active {

  background-color: $color-grey-01;

  .nav-list__link {

    color: $color-text-strong;
  }

}

.nav-list__link {

  display: block;

  padding: $unit-xs $unit-s;

}