<!doctype html>
<html lang="en">
<head>

  @@include('_assets-header.html', {
    "page-title": "Homepage"
  })

</head>
<body class="">

@@include('_header.html')

<!-- Main -->
<section class="section section--main" id="main">

  <div class="block block--main">
    <div class="block__container">

      <a class="button" href="#">
        <span class="button__label">Button</span>
      </a>

    </div>
  </div>

</section>
<!-- /Main -->

@@include('_footer.html')

@@include('_assets-footer.html')

</body>
</html>