<!doctype html>
<html lang="en">
<head>

  @@include('_assets-header.html', {
    "page-title": "Homepage"
  })

</head>
<body class="">

@@include('_header.html')

<!-- Main -->
<section class="section section--main" id="main">

  <div class="block">
    <div class="block__container">

      @@include('_message.html', {
        "message_modifier": "message--default",
        "message_content": "<strong>Component</strong> example (included with gulp-file-include)"
      })

      @@include('_nav-page.html')

      <hr>

      @@include('_message.html', {
        "message_modifier": "message--default",
        "message_content": "<strong>Image</strong> example (optimized with gulp-imagemin)"
      })

      <img src="../build/assets/images/screenshot-colors.png" alt="Image example">

      <hr>

      <h2>Forms</h2>

      <form action="#">
        <fieldset>

          @@include('_field.html', {
            "field_modifier": "field--column",
            "field_id": "field-name",
            "field_label": "Name",
            "field_placeholder": ""
          })

          @@include('_field.html', {
            "field_modifier": "field--column",
            "field_id": "field-email",
            "field_label": "E-mail",
            "field_placeholder": ""
          })

          <div class="field">
            <label class="field__label" for="field-love">Which do you love more?</label>
            <div class="field__group">
              @@loop('_radio.html', [
                {
                  "radio_modifier": "is-inline",
                  "radio_checked": "",
                  "radio_id": "radio-male",
                  "radio_group": "radio-group-love",
                  "radio_label": "Cookies"
                },
                {
                  "radio_modifier": "is-inline",
                  "radio_checked": "",
                  "radio_id": "radio-female",
                  "radio_group": "radio-group-love",
                  "radio_label": "Choccolate"
                }
              ])
            </div>
          </div>

          <div class="field">
            <label class="field__label" for="field-newsletter">Newsletter</label>
            <div class="field__group">
              @@include('_checkbox.html', {
                "checkbox_modifier": "",
                "checkbox_checked": "",
                "checkbox_id": "checkbox-newsletter",
                "checkbox_label": "Yes"
              })
            </div>
          </div>

          <div class="field field--action">
            <div class="field__group">
              <input class="button button--primary" value="Big Button" type="submit">
            </div>
          </div>

        </fieldset>
      </form>

      <hr>

      @@include('_message.html', {
        "message_modifier": "message--default",
        "message_content": "<strong>Content</strong> example"
      })

      <div class="post">

        <h1 class="post__title">Hello World</h1>

        <p class="post__meta">
          <span class="post__meta-date">July 16th, 2016</span>
          <span class="post__meta-author">Wikipedia</span>
          <span class="post__meta-category">Inspiration</span>
        </p>

        <div class="post__summary">

          <p>Nikola Tesla was inventor, electrical engineer, mechanical engineer, physicist, and futurist best known for his contributions to the design of the modern alternating current (AC) electricity supply system.</p>

        </div>

        <div class="post__content">

          <h2>War of Currents</h2>

          <p>Tesla's demonstration of his induction motor and Westinghouse's subsequent licensing of the patent, both in 1888, put Tesla firmly on the AC side of the War of Currents, an electrical distribution battle being waged between Thomas Edison and George Westinghouse that had been simmering since Westinghouse's first AC system in 1886.  This started out as a competition between rival lighting systems, with Edison holding all the patents for DC and the incandescent light, and Westinghouse using his own patented AC system to power arc lights, as well as incandescent lamps of a slightly different design, to get around the Edison patent.</p>

          <p>The acquisition of a feasible AC motor gave Westinghouse a key patent in building a completely integrated AC system, but the financial strain of buying up patents and hiring the engineers needed to build it meant development of Tesla's motor had to be put on hold for a while. The competition resulted in Edison Machine Works pursuing AC development in 1890; by 1892, Thomas Edison was no longer in control of his own company, which was consolidated into the conglomerate General Electric and converting to an AC delivery system at that point.</p>

          <h2>Tesla Polyphase System</h2>

          <!-- <p>A Westinghouse display of the "Tesla Polyphase System" at Chicago's 1893 Columbian Exposition</p> -->
          <p>At the beginning of 1893, Westinghouse engineer Benjamin Lamme had made great progress developing an efficient version of Tesla's induction motor, and Westinghouse Electric started branding their complete polyphase phase AC system as the "Tesla Polyphase System". They believed that Tesla's patents gave them patent priority over other AC systems.</p>

          <p>In 1893, George Westinghouse won the bid to light the 1893 World's Columbian Exposition in Chicago with alternating current, beating out a General Electric bid by one million dollars. This World's Fair devoted a building to electrical exhibits. It was a key event in the history of AC power, as Westinghouse demonstrated to the American public the safety, reliability, and efficiency of a fully integrated alternating current system. Tesla demonstrated a series of electrical effects at the Columbian Exposition under a banner announcing the "Tesla Polyphase System", which had previously been performed throughout America and Europe; these included using high-voltage, high-frequency alternating current to light a wireless gas-discharge lamp.</p>

          <p>An observer noted:</p>

          <blockquote>
            <p>Within the room was suspended two hard-rubber plates covered with tin foil. These were about fifteen feet apart, and served as terminals of the wires leading from the transformers. When the current was turned on, the lamps or tubes, which had no wires connected to them, but lay on a table between the suspended plates, or which might be held in the hand in almost any part of the room, were made luminous. These were the same experiments and the same apparatus shown by Tesla in London about two years previous, "where they produced so much wonder and astonishment".</p>
          </blockquote>

          <p>Tesla also explained the principles of the rotating magnetic field in an induction motor by demonstrating how to make a copper egg stand on end, using a device that he constructed known as the Egg of Columbus.</p>

          <!-- <blockquote>
            <p>The day science begins to study non-physical phenomena, it will make more progress in one decade than in all the previous centuries of its existence.</p>
            <cite>Nikola Tesla</cite>
          </blockquote> -->

        </div>

      </div>

    </div>
  </div>

</section>
<!-- /Main -->

@@include('_footer.html')

@@include('_assets-footer.html')

</body>
</html>